protocol_version=CONDOR_PROTECTED_OPERATION_DISPATCH_CONFORMANCE_V1
status=FROZEN_DESIGN
parent_f24v_sha256=PUBLIC_DIGEST_REMOVED
parent_f24u_sha256=PUBLIC_DIGEST_REMOVED
parent_f24t_test_sha256=PUBLIC_DIGEST_REMOVED
parent_program_sha256=PUBLIC_DIGEST_REMOVED
parent_runtime_gate_sha256=PUBLIC_DIGEST_REMOVED
parent_startup_decision_sha256=PUBLIC_DIGEST_REMOVED
parent_operation_boundary_sha256=PUBLIC_DIGEST_REMOVED
parent_itrustprovider_sha256=PUBLIC_DIGEST_REMOVED
fail_closed=true
design_only=true
implementation_authorized=false
provider_dispatch_authorized=false
production_authorized=false
protected_operations=ENROLL_AUTHORIZE_ATTEST_SIGN_REVOKE
red_tests_required_before_dispatch_implementation=true
red_tests_must_precede_production_dispatch_source_change=true
test_side_effect_observer_required=true
provider_invocation_counter_required=true
provider_invocation_count_on_any_precondition_failure=0
hardware_mutation_count_on_any_precondition_failure=0
database_open_count_on_any_precondition_failure=0
kek_creation_count_on_any_precondition_failure=0
dek_generation_count_on_any_precondition_failure=0
protected_acknowledgement_count_on_any_precondition_failure=0
missing_request_contract_test_required=true
invalid_request_contract_test_required=true
missing_request_id_test_required=true
duplicate_request_id_test_required=true
missing_nonce_test_required=true
duplicate_nonce_test_required=true
expired_request_test_required=true
runtime_gate_failure_test_required=true
contract_verified_without_production_authorization_test_required=true
missing_platform_validation_test_required=true
platform_validation_failure_test_required=true
storage_identity_failure_test_required=true
rollback_authority_failure_test_required=true
missing_authenticated_user_test_required=true
user_authorization_failure_test_required=true
replay_validation_failure_test_required=true
replay_durability_failure_test_required=true
rollback_checkpoint_failure_test_required=true
operation_boundary_denial_test_required=true
unknown_operation_test_required=true
unknown_platform_test_required=true
unknown_provider_test_required=true
provider_failure_test_required=true
provider_exception_test_required=true
automatic_provider_fallback_test_required=true
automatic_software_fallback_test_required=true
automatic_hardware_downgrade_test_required=true
ai_override_attempt_test_required=true
all_preconditions_success_test_required_before_real_provider_wiring=true
all_preconditions_success_test_must_use_fake_provider=true
all_preconditions_success_test_must_not_touch_hardware=true
all_preconditions_success_expected_fake_provider_invocation_count=1
all_preconditions_success_expected_real_provider_invocation_count=0
operation_type_binding_test_required=true
authorization_context_binding_test_required=true
request_context_binding_test_required=true
provider_result_secret_redaction_test_required=true
provider_result_private_key_redaction_test_required=true
audit_secret_redaction_test_required=true
audit_private_key_redaction_test_required=true
acknowledgement_before_required_durability_test_required=true
acknowledgement_before_rollback_checkpoint_test_required=true
unanchored_operation_acknowledgement_test_required=true
crash_after_replay_commit_before_provider_test_required=true
crash_after_provider_before_checkpoint_test_required=true
crash_after_checkpoint_before_acknowledgement_test_required=true
crash_recovery_replay_denial_test_required=true
crash_recovery_duplicate_side_effect_prevention_test_required=true
exact_crash_recovery_semantics_require_separate_design=true
exact_side_effect_idempotency_model_require_separate_design=true
provider_dispatch_api_require_separate_design=true
operation_boundary_api_require_separate_design=true
real_provider_wiring_not_part_of_conformance_design=true
real_hardware_mutation_not_part_of_conformance_design=true
real_database_open_not_part_of_conformance_design=true
real_kek_creation_not_part_of_conformance_design=true
real_dek_generation_not_part_of_conformance_design=true
authoritative_f24v_must_not_be_modified_by_tests=true
authoritative_f24u_must_not_be_modified_by_tests=true
authoritative_f24t_test_must_not_be_modified=true
trust_operation_boundary_must_remain_independent=true
production_runtime_gate_must_remain_independent=true
static_production_denial_must_remain_present=true
automatic_provider_dispatch_allowed=false
automatic_production_promotion_allowed=false
automatic_hardware_mutation_allowed=false
automatic_database_open_allowed=false
automatic_kek_creation_allowed=false
automatic_dek_generation_allowed=false
ai_may_enable_provider_dispatch=false
ai_may_enable_production_authorization=false
ai_may_bypass_operation_boundary=false
ai_may_bypass_replay_validation=false
ai_may_bypass_rollback_validation=false
provider_dispatch_enabled=false
live_trading_enabled=false
next_control=PROTECTED_OPERATION_DISPATCH_RED_TEST_DESIGN
next_control_is_implementation=false
next_control_is_provisioning=false
