protocol_version=CONDOR_PROTECTED_OPERATION_STRUCTURAL_NON_REACHABILITY_V1
status=FROZEN
parent_f24o_sha256=PUBLIC_DIGEST_REMOVED
parent_program_sha256=PUBLIC_DIGEST_REMOVED
parent_runtime_gate_sha256=PUBLIC_DIGEST_REMOVED
parent_startup_decision_sha256=PUBLIC_DIGEST_REMOVED
parent_operation_boundary_sha256=PUBLIC_DIGEST_REMOVED
parent_itrustprovider_sha256=PUBLIC_DIGEST_REMOVED
parent_provider_factory_sha256=PUBLIC_DIGEST_REMOVED
windows_provider_sha256=PUBLIC_DIGEST_REMOVED
linux_provider_sha256=PUBLIC_DIGEST_REMOVED
macos_provider_sha256=PUBLIC_DIGEST_REMOVED
ios_provider_sha256=PUBLIC_DIGEST_REMOVED
android_provider_sha256=PUBLIC_DIGEST_REMOVED
fail_closed=true
structural_non_reachability_observed=true
protected_provider_operations=ENROLL_AUTHORIZE_ATTEST_SIGN_REVOKE
protected_provider_callers_outside_provider_definitions=0
mutating_hardware_api_matches=0
database_api_matches=0
trust_operation_boundary_dispatch_callers=0
startup_decision_protected_path_references=0
provider_operation_implementations_are_disabled_stubs=true
windows_provider_operation_state=TPM_OPERATION_DISABLED
linux_provider_operation_state=TPM_OPERATION_DISABLED
macos_provider_operation_state=SECURE_ENCLAVE_OPERATION_DISABLED
ios_provider_operation_state=IOS_SECURE_ENCLAVE_OPERATION_DISABLED
android_provider_operation_state=ANDROID_KEYSTORE_OPERATION_DISABLED
provider_detection_is_observationally_separate=true
program_detect_path_exists=true
program_detect_path_is_not_protected_operation_dispatch=true
security_enrollment_detection_path_exists=true
security_enrollment_detection_is_not_protected_operation_dispatch=true
logical_zero_side_effect_tests_complete=true
end_to_end_hardware_interception_test_applicable=false
end_to_end_hardware_interception_reason=NO_MUTATING_HARDWARE_PRODUCTION_PATH_EXISTS
structural_non_reachability_must_be_revalidated_before_protected_dispatch_wiring=true
protected_dispatch_wiring_requires_separate_authorization=true
protected_dispatch_wiring_requires_red_tests_first=true
trust_operation_boundary_must_remain_independent=true
automatic_provider_dispatch_allowed=false
automatic_hardware_mutation_allowed=false
automatic_database_open_allowed=false
automatic_kek_creation_allowed=false
automatic_dek_generation_allowed=false
ai_may_enable_protected_dispatch=false
ai_may_create_production_kek=false
ai_may_generate_production_dek=false
production_authorized=false
provider_dispatch_enabled=false
live_trading_enabled=false
next_control=STRUCTURAL_NON_REACHABILITY_CONFORMANCE_TESTS
