contract=CONDOR-REPLAY-STORAGE-ARCHITECTURE-V2
supersedes_contract=CONDOR-REPLAY-STORAGE-ARCHITECTURE-V1
supersedes_sha256=PUBLIC_DIGEST_REMOVED
parent_replay_contract_sha256=PUBLIC_DIGEST_REMOVED

default=DENY
fail_closed=true

physical_storage_class=USB
observed_physical_disk_number=PUBLIC_DEPLOYMENT_VALUE_REMOVED
observed_physical_device_description=PUBLIC_DEPLOYMENT_VALUE_REMOVED

encrypted_source_device=\Device\Harddisk1\Partition2
observed_source_disk_number=PUBLIC_DEPLOYMENT_VALUE_REMOVED
observed_source_partition_number=PUBLIC_DEPLOYMENT_VALUE_REMOVED
observed_source_partition_size=PUBLIC_DEPLOYMENT_VALUE_REMOVED

storage_encryption_layer=VERACRYPT
observed_veracrypt_version=PUBLIC_DEPLOYMENT_VALUE_REMOVED
veracrypt_cipher=AES
veracrypt_volume_type=NORMAL

decrypted_mount_drive=V:
decrypted_filesystem=NTFS
observed_decrypted_filesystem_size=PUBLIC_DEPLOYMENT_VALUE_REMOVED

bitlocker_dependency=false
system_drive_storage_authority=false
raw_encrypted_partition_storage_authority=false
decrypted_veracrypt_mount_required=true

drive_letter_only_identity_sufficient=false
windows_disk_number_only_identity_sufficient=false
filesystem_size_only_identity_sufficient=false
storage_identity_verification_required=true

unexpected_storage_identity_allows_operation=false
veracrypt_volume_absent_allows_operation=false
veracrypt_mount_absent_allows_operation=false
storage_identity_verification_failure_allows_operation=false

transactional_store_required=true
transactional_store_class=SQLITE
custom_flat_file_ledger_allowed=false
process_memory_as_authority_allowed=false

replay_database_must_reside_on_veracrypt_volume=true
replay_database_system_drive_allowed=false
replay_database_raw_partition_allowed=false

request_id_unique_index_required=true
nonce_unique_index_required=true
request_id_nonce_pair_only_index_allowed=false

single_atomic_consume_transaction_required=true
partial_identifier_commit_allowed=false
commit_before_success_required=true

cross_process_serialization_required=true
concurrent_multiple_winners_allowed=false

restart_persistence_required=true
durable_storage_required=true
database_file_location_fixed_required=true

database_integrity_check_required=true
database_corruption_allows_operation=false
database_open_failure_allows_operation=false
database_write_failure_allows_operation=false
database_commit_failure_allows_operation=false
database_lock_failure_allows_operation=false

rollback_anchor_required=true
rollback_anchor_separate_from_database=true
database_only_rollback_detection_sufficient=false
rollback_anchor_class=TPM

tpm_mutation_authorized=false
tpm_nv_allocation_authorized=false
tpm_key_creation_authorized=false
tpm_counter_creation_authorized=false
rollback_anchor_protocol_defined=false
rollback_anchor_provisioned=false

database_installation_authorized=false
database_creation_authorized=false
schema_creation_authorized=false

retention_policy_authorized=false
automatic_record_deletion_allowed=false

raw_request_payload_storage_allowed=false
request_id_storage_allowed=true
nonce_storage_allowed=true

secret_material_storage_allowed=false
credential_storage_allowed=false
private_key_storage_allowed=false
master_key_storage_allowed=false

provider_dispatch_enabled=false
hardware_operation_enabled=false
production_authorized=false
