contract=CONDOR-ROLLBACK-CHECKPOINT-FORMAT-V1
parent_crash_consistency_sha256=PUBLIC_DIGEST_REMOVED
parent_operational_evidence_sha256=PUBLIC_DIGEST_REMOVED

default=DENY
fail_closed=true

purpose=DEFINE_CANONICAL_COUNTER_BOUND_ROLLBACK_CHECKPOINT

backend_family=COUNTER_PLUS_COMMITMENT
hardware_monotonicity_required=true

checkpoint_protocol_version=1

checkpoint_encoding=BINARY
checkpoint_byte_order=BIG_ENDIAN
checkpoint_hash=SHA256

checkpoint_text_serialization_allowed=false
checkpoint_json_serialization_allowed=false
checkpoint_platform_native_integer_encoding_allowed=false
checkpoint_implicit_string_encoding_allowed=false

integer_encoding=UNSIGNED_BIG_ENDIAN

u16_width_bytes=2
u32_width_bytes=4
u64_width_bytes=8

string_encoding=UTF8
string_normalization=NFC
string_length_prefix=UINT32_BIG_ENDIAN
empty_required_string_allowed=false
nul_character_in_string_allowed=false

hash_encoding=RAW_BYTES
sha256_width_bytes=32

storage_id_encoding=UUID_RFC4122_NETWORK_BYTE_ORDER
storage_id_width_bytes=16

checkpoint_magic_ascii=CONDOR-RB-CP
checkpoint_magic_width_bytes=12

checkpoint_field_01=magic
checkpoint_field_02=protocol_version
checkpoint_field_03=storage_id
checkpoint_field_04=manifest_generation
checkpoint_field_05=manifest_hash
checkpoint_field_06=replay_database_identity
checkpoint_field_07=replay_state_version
checkpoint_field_08=replay_state_hash
checkpoint_field_09=checkpoint_sequence
checkpoint_field_10=counter_epoch

checkpoint_field_order_fixed=true
unknown_fields_allowed=false
missing_fields_allowed=false
duplicate_fields_allowed=false

protocol_version_type=UINT32
manifest_generation_type=UINT64
replay_database_identity_type=UTF8_LENGTH_PREFIXED
replay_state_version_type=UINT64
checkpoint_sequence_type=UINT64
counter_epoch_type=UINT64

manifest_hash_type=SHA256_RAW
replay_state_hash_type=SHA256_RAW

manifest_generation_zero_allowed=false
replay_state_version_zero_allowed=false
checkpoint_sequence_zero_allowed=false
counter_epoch_zero_allowed=false

checkpoint_sequence_must_equal_counter_epoch=true

counter_epoch_source=TPM_NV_COUNTER
counter_epoch_software_generated=false

checkpoint_digest_input=EXACT_CANONICAL_CHECKPOINT_BYTES
checkpoint_digest_output=SHA256_32_BYTES

checkpoint_digest_is_secret=false
checkpoint_payload_is_secret=false

checkpoint_digest_must_bind_counter_epoch=true
counter_epoch_must_bind_checkpoint_sequence=true

counter_only_sufficient=false
commitment_only_sufficient=false

replay_database_identity_stable_required=true
replay_database_identity_generation_defined=false

replay_state_hash_canonicalization_required=true
replay_state_hash_canonicalization_defined=false

manifest_hash_canonicalization=EXACT_SIGNED_MANIFEST_BYTES
manifest_hash_includes_signature_field=true

checkpoint_prepare_state=PREPARED
checkpoint_database_committed_state=DB_COMMITTED
checkpoint_tpm_advanced_state=TPM_ADVANCED
checkpoint_final_state=ANCHORED

state_transition_01=PREPARED_TO_DB_COMMITTED
state_transition_02=DB_COMMITTED_TO_TPM_ADVANCED
state_transition_03=TPM_ADVANCED_TO_ANCHORED

state_transition_skip_allowed=false
state_transition_reverse_allowed=false

prepared_state_provider_dispatch_allowed=false
db_committed_state_provider_dispatch_allowed=false
tpm_advanced_state_provider_dispatch_allowed=false
anchored_state_provider_dispatch_allowed=true

prepared_state_external_rollback_protected=false
db_committed_state_external_rollback_protected=false
tpm_advanced_state_external_rollback_protected=true
anchored_state_external_rollback_protected=true

crash_in_prepared_state=DISCARD_OR_RECONSTRUCT
crash_in_db_committed_state=RECOVER_OR_DENY
crash_in_tpm_advanced_state=FINALIZE_IF_EXACT_MATCH_ELSE_DENY
crash_in_anchored_state=VERIFY_AND_CONTINUE

startup_tpm_counter_read_required=true
startup_checkpoint_read_required=true
startup_database_state_read_required=true

startup_counter_less_than_checkpoint_epoch_result=DENY
startup_counter_equal_checkpoint_epoch_result=VERIFY_COMMITMENT
startup_counter_greater_than_checkpoint_epoch_result=RECOVERY_REQUIRED

checkpoint_commitment_mismatch_result=DENY

recovery_may_decrement_counter=false
recovery_may_reuse_counter_value=false
recovery_may_rewind_database=false
recovery_may_delete_committed_replay_records=false
recovery_may_ignore_commitment_mismatch=false

recovery_after_counter_advance_requires_precommitted_next_checkpoint=true
next_checkpoint_material_must_be_durable_before_counter_increment=true

counter_increment_before_next_checkpoint_material_durable_allowed=false

counter_increment_acknowledged_before_tpm_success_allowed=false

checkpoint_finalize_requires_counter_readback=true
checkpoint_finalize_requires_exact_counter_epoch_match=true
checkpoint_finalize_requires_exact_commitment_match=true

checkpoint_batching_required=true
per_request_counter_increment_required=false
per_replay_counter_increment_required=false

maximum_unanchored_window_required=true
maximum_unanchored_window_defined=false

checkpoint_frequency_policy_required=true
checkpoint_frequency_policy_defined=false

immediate_checkpoint_operation_policy_required=true
immediate_checkpoint_operation_policy_defined=false

replay_state_hash_algorithm=SHA256

replay_state_hash_must_bind_all_committed_replay_denials=true
replay_state_hash_must_bind_request_id_set=true
replay_state_hash_must_bind_nonce_set=true

replay_state_hash_incremental_scheme_allowed=true
replay_state_hash_incremental_scheme_defined=false

replay_state_hash_database_snapshot_hash_allowed=false
replay_state_hash_database_snapshot_hash_selected=false

commitment_backend_selected=false
commitment_storage_location_defined=false

counter_nv_handle_defined=false
counter_nv_attributes_defined=false
counter_nv_authorization_policy_defined=false

tpm_nv_counter_read_authorized=false
tpm_nv_increment_authorized=false
tpm_nv_allocation_authorized=false
tpm_nv_write_authorized=false
tpm_nv_undefine_authorized=false

rollback_authority_provisioning_authorized=false

sqlite_installation_authorized=false
database_creation_authorized=false
schema_creation_authorized=false

provider_dispatch_enabled=false
hardware_operation_enabled=false
production_authorized=false
