contract=CONDOR-STORAGE-IDENTITY-PROTOCOL-V1
parent_storage_architecture_sha256=PUBLIC_DIGEST_REMOVED

default=DENY
fail_closed=true

purpose=AUTHENTICATE_AUTHORIZED_REPLAY_STORAGE

physical_storage_class=USB
encryption_layer=VERACRYPT
decrypted_filesystem_class=NTFS

drive_letter_is_authenticator=false
disk_number_is_authenticator=false
filesystem_size_is_authenticator=false
usb_serial_is_authenticator=false
usb_pnp_id_is_authenticator=false
disk_unique_id_is_authenticator=false
ntfs_volume_serial_is_authenticator=false

single_observed_identifier_sufficient=false
observed_identifiers_are_supporting_evidence_only=PUBLIC_DEPLOYMENT_VALUE_REMOVED

cryptographic_storage_identity_required=true
cryptographic_manifest_required=true
manifest_signature_required=true

manifest_contains_secret=false
manifest_contains_private_key=false
manifest_contains_credential=false
manifest_contains_veracrypt_password=false

manifest_version_required=true
manifest_storage_id_required=true
manifest_protocol_version_required=true
manifest_parent_architecture_hash_required=true
manifest_public_metadata_only=true

manifest_location=VERACRYPT_VOLUME
manifest_location_outside_veracrypt_allowed=false

manifest_signature_verification_required=true
unsigned_manifest_allowed=false
invalid_signature_allows_operation=false
missing_manifest_allows_operation=false
manifest_parse_failure_allows_operation=false
manifest_version_mismatch_allows_operation=false
architecture_hash_mismatch_allows_operation=false

verification_authority_location=TPM
verification_authority_hardware_backed_required=true
verification_authority_non_exportable_required=true

verification_private_key_on_usb_allowed=false
verification_private_key_on_system_drive_allowed=false
verification_private_key_export_allowed=false
software_only_verification_authority_allowed=false

tpm_key_creation_authorized=false
tpm_nv_allocation_authorized=false
tpm_counter_creation_authorized=false
tpm_mutation_authorized=false

storage_identity_provisioning_authorized=false
manifest_creation_authorized=false
manifest_signing_authorized=false

observed_usb_serial_binding_policy_defined=PUBLIC_DEPLOYMENT_VALUE_REMOVED
observed_usb_pnp_binding_policy_defined=PUBLIC_DEPLOYMENT_VALUE_REMOVED
observed_disk_unique_id_binding_policy_defined=PUBLIC_DEPLOYMENT_VALUE_REMOVED
observed_ntfs_serial_binding_policy_defined=PUBLIC_DEPLOYMENT_VALUE_REMOVED

storage_identity_recovery_protocol_defined=false
storage_identity_rotation_protocol_defined=false
storage_replacement_protocol_defined=false

replay_database_creation_before_identity_verification_allowed=false
replay_database_open_before_identity_verification_allowed=false
replay_database_write_before_identity_verification_allowed=false

rollback_anchor_verification_before_storage_identity_required=false
storage_identity_verification_before_rollback_anchor_required=true

provider_dispatch_before_storage_identity_verification_allowed=false
hardware_operation_before_storage_identity_verification_allowed=false
production_authorization_before_storage_identity_verification_allowed=false

sqlite_installation_authorized=false
database_creation_authorized=false
provider_dispatch_enabled=false
production_authorized=false
